.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    padding-top: 92px;
    padding-bottom: 92px;
}

@media (max-width: 768px) {
    .photo-grid {
    padding-top: 88px;
    padding-bottom: 15px;
    }
}
@media (max-width: 320px) {
    .photo-grid {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}