.place__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

@media (max-width: 768px) {
    .place__wrapper {
        margin-left: 12px;
        margin-right: 12px;
    }
}
@media (max-width: 1024px) {
    .place__wrapper {
        padding-bottom: 73px;
    }
}
