.cover__background {
    padding-top: 50%;
    background-image: url(../../../images/backgroundtrains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;

}

@media screen
and (max-width: 1024px)
and (min-width: 321px) {
    .cover__background {
        padding-top:54%;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        padding-top: 70%;
    }
}

