.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
max-width: 1184px;
padding-bottom: 24px;
padding-top: 92px;

}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}
