.place__header {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .place__header {
        padding-bottom: 48px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (max-width: 320px) {
    .place__header {
        padding-bottom: 32px;
        padding-left: 16px;
    }
}